@use '../../styles/partials/mixins.scss'as *;
@use '../../styles/partials/typography.scss'as *;
@use '../../styles/partials/variables.scss'as *;


.selectedWarehouse {

    font-size: 1em;
    background-color: $light-grey;
    padding: 1em 2em;
    border: 1px solid $cloud;
    border-radius: 4px;

    @include tablet-breakpoint {
        display: flex;
        justify-content: space-between;
        @include mobile-body-large;
    }

    @include desktop-breakpoint {
        @include body-large;
    }

    &__heading {
        padding-bottom: 0.51em;
        font-weight: 700;
        color: $slate;
    }

    &__full-address {
        display: flex;
        padding-bottom: 2em;

        @include tablet-breakpoint {
            flex-direction: column;
            width: 100%;
            padding: 0;
        }

    }

    &__city,
    &__country {
        margin-left: 0.2em;
    }

    &__point-info {
        display: flex;

        @include tablet-breakpoint {
            width: 60%;
            border-left: solid 1px $cloud;
            padding-left: 2em;
        }

    }

    &__point {

        @include tablet-breakpoint {
            margin-left: 1em;

        }
    }

    &__info {
        margin-left: 3em;
    }
}