@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.section-warehouse-list-page {
  &__header {
    position: relative;
    box-sizing: border-box;
  }
  &__list-main {
    margin-top: 4rem;
    position: relative;
    @include tablet-breakpoint {
      margin-top: 7rem;
    }
  }
}
