// Desktop breakpoint
@mixin desktop-breakpoint {
    @media (min-width: 1280px) {
        @content;
    }
}

//Tablet breakpoint
@mixin tablet-breakpoint {
    @media (min-width: 768px) {
        @content;
    }
}

// Mobile styles 
@mixin labels-buttons-mobile {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.8235rem;
    line-height: 1.375rem;
    font-weight: 500;
}