@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.inv {
  border-bottom: 1px solid #bdc5d5;
  padding-bottom: 1.5rem;

  @include tablet-breakpoint {
    padding-top: 1.5rem;
  }

  &__link {
    display: flex;

    @include tablet-breakpoint {
        justify-content: flex-start;
    }
  }

  &__chevron {
    height: 1.25rem;
    width: 1.25rem;

    @include tablet-breakpoint {
        height: 1.375rem;
    }
  }

  &__alticons {
    @include tablet-breakpoint {
      padding-left: 1.5rem;
      gap: 0.5rem;
    }

    @include desktop-breakpoint {
      padding-left: 4rem;
    }
  }

  &__altimages {
    @include tablet-breakpoint {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__title {
    width: 8rem; // Controls spacing for header-card alignment
    display: flex;

    @include desktop-breakpoint {
      width: 8.5rem;
    }

    &--padding {
      padding-left: 2.75rem;

      @include desktop-breakpoint {
        padding-left: 5rem;
      }
    }
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }

  &__container {
    @include tablet-breakpoint {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__headings {
    display: none;
    border-radius: 4px 4px 0 0;

    @include tablet-breakpoint {
      @include mobile-body-small;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 2.5rem;
      background-color: $light-grey;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include desktop-breakpoint {
      gap: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;

    @include mobile-body-small;

    @include tablet-breakpoint {
      gap: 0.5rem;
      padding: 0 1rem;
      justify-content: space-around;
      align-items: center;
    }

    @include desktop-breakpoint {
      gap: 2rem;
      padding: 0 2rem;
    }
  }

  &__icons {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;

    @include tablet-breakpoint {
      display: none;
    }

    &--tabletdesktop {
      display: none;

      @include tablet-breakpoint {
        display: flex;
      }
    }
  }

  &__label {
    color: $slate;
    font-weight: 600;
    @include mobile-table-header;

    @include tablet-breakpoint {
      display: none;
    }
  }

  &__other-info {
    @include mobile-body-medium;

    @include tablet-breakpoint {
      @include body-medium;
    }
  }

  &__info {
    @include mobile-body-medium;

    @include tablet-breakpoint {
      @include body-medium;
    }
  }

  &__name {
    @include mobile-body-medium;

    &--instock {
      @include button-instock;
      @include button-base;
      border: none;
      @include mobile-labels-links-buttons;
      display: flex;
      align-items: center;
    
      width: 4.9rem;
      height: 1.5rem;
    
      @include tablet-breakpoint {
        width: 5rem;
        height: 1.625rem;
      }
    }

    &--outofstock {
        @include button-outofstock;
        @include button-base;
        border: none;
        @include mobile-labels-links-buttons;
        display: flex;
        align-items: center;
      
        width: 6.4rem;
        height: 1.5rem;
      
        @include tablet-breakpoint {
          width: 6.6rem;
          height: 1.625rem;
        }
      }

    @include tablet-breakpoint {
      @include body-medium;
    }

    &--blue {
      @include mobile-labels-links-buttons;
      color: $instock-indigo;

      @include tablet-breakpoint {
        @include labels-links-buttons;
      }
    }
  }

  &__na {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;

    @include tablet-breakpoint {
      flex-direction: row;
    }
  }
}

.toggle-mobile {
  @include tablet-breakpoint {
    display: none;
  }
}

.toggle-tabletdesktop {
  display: none;

  @include tablet-breakpoint {
    display: flex;
    width: 8rem; // Controls spacing for header-card alignment
  }

  @include desktop-breakpoint {
    width: 8.25rem;
  }
}
