@use '../../styles/partials/mixins.scss'as *;
@use '../../styles/partials/typography.scss'as *;
@use '../../styles/partials/variables.scss'as *;

.button2 {
    width: 100%;
    padding: 0 4em;
    margin-top: 2em;
    border: none;

    // justify-content: space-between;
    // gap: 1em;



    &__text {
            // @include text-link;
    background-color: $instock-indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    @include mobile-subheader;
    border-radius: 1.7em;
    padding: 0.7em 1.3em;
    // width: 100%;
    }
}