@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.inventory-list-section {
  &__delete-modal {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
