@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-breakpoint {
    flex-direction: row;
    justify-content: space-between;
  }

  &__background {
    height: 200px;
    width: 100%;
  
    //Partials
    background-color: #232940;
  
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
    @include desktop-breakpoint {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  &__logo {
    width: 8.06rem;
    height: auto;
    color: white;
  }

  &__container {
    display: flex;
    margin-top: 1.5rem;

    @include tablet-breakpoint {
      margin-top: 0;
    }
  }

  &__buttons {
    width: 10.25rem;
    height: 2.25rem;
    border-radius: 20px;
    //Partials
    background-color: #232940;
    color: white;

    border: none;

    @include tablet-breakpoint {
      width: 107px;
      height: 38px;
    }

    &:active {
      background-color: #13182c;
    }
  }
}
