@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-breakpoint {
    flex-direction: row;
    justify-content: space-between;
  }

  &__background {
    height: 200px;
    width: 100%;
    background-color: $graphite;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet-breakpoint {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include desktop-breakpoint {
      padding-left: 8.125rem;
      padding-right: 8.125rem;
    }
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    width: 8.06rem;
    height: auto;
    color: $white;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;

    @include tablet-breakpoint {
      margin-top: 0;
      width: 13rem;
      justify-content: flex-end;
    }
  }

  &__buttons {
    @include button-base;
    @include mobile-labels-links-buttons;
    color: $cloud;
    background-color: $graphite;
    border: none;
    width: 10.25rem;


    @include tablet-breakpoint {
      @include labels-links-buttons
    }

    &--active {
      background-color: $instock-black;
      color: $white;
    }

    &:active {
      background-color: $instock-black;
      color: $white;
    }
    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}
