@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss/" as *;

.delete-wml {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: 16rem;
    position: relative;
    @include tablet-breakpoint {
      width: 90%;
      height: 30%;
      margin-top: 15%;
    }
    @include desktop-breakpoint {
      width: 50%;
    }
  }
  &__icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__close-icon {
    padding-top: 0.8rem;
    padding-right: 0.8rem;
  }
  &__title {
    padding-top: 1rem;
    width: 90%;
    text-align: left;
    @include mobile-page-header;
    @include tablet-breakpoint {
      padding-top: 0.5rem;
    }
  }
  &__text {
    padding-top: 1rem;
    width: 90%;
    @include mobile-body-large;
    @include tablet-breakpoint {
      padding-top: 0.5rem;
      padding-right: 7rem;
    }
  }
  &__button-container {
    flex-grow: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: space-around;
    @include tablet-breakpoint {
      width: 80%;
      justify-content: flex-end;
    }
    @include desktop-breakpoint {
      padding-right: 0;
    }
  }
  &__button-1 {
    @include button-secondary;
    & {
      width: 45%;
    }
    @include tablet-breakpoint {
      margin-right: 1rem;
    }
  }
  &__button-2 {
    @include button-delete;
    & {
      width: 45%;
    }
  }
}
