@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/typography.scss" as *;
@use "./styles/partials/variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: $instock-black;
  text-decoration: none;
}

body {
  background-color: $light-grey;
}

main {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 2px 5px #13182c1a;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -4rem;
  @include tablet-breakpoint {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -7rem;
  }
  @include desktop-breakpoint {
    margin-left: 8.125rem;
    margin-right: 8.125rem;
    margin-top: -7rem;
  }
}

.divider {
  border: 1px solid $cloud;
  border-radius: 4px;
  &--vertical {
    margin: 0 -1.5rem;
    @include tablet-breakpoint {
      margin: 1.5rem 2rem;
    }
    @include desktop-breakpoint {
      margin: 1.5rem 2.5rem;
    }
  }
}
