@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/typography.scss" as *;
@use "./styles/partials/variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: $instock-black;
  text-decoration: none;
}
