@use '../../styles/partials/mixins.scss'as *;
@use '../../styles/partials/typography.scss'as *;
@use '../../styles/partials/variables.scss'as *;

.warehouse-header {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    border-bottom: solid 1px $cloud;


    @include tablet-breakpoint {
        flex-direction: row;
        justify-content: space-between;
    }

    @include tablet-breakpoint {
        padding:  1em 2em;
        // margin-left: 2em;
        // width: 80%;
        max-width: 1900px;
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 0.51em 0;

        @include tablet-breakpoint {
        }
    }

    &__inputs {
        width: 100%;

        @include tablet-breakpoint {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60%;
            gap: 2em;
            margin-right: 3em;
        }

        @include desktop-breakpoint {
            width: 45%;
            margin: 0;

        }
    }

    &__searchField {

        @include tablet-breakpoint {
            display: flex;
            width: 60%;
            max-width: 450px;

            position: relative;
        }
    }

    &__field {

        width: 100%;
        font-size: 1.1rem;
        padding: 1.1em 1.5em;
        border-radius: 1.7em;
        border: solid 1px $cloud;
        min-width: 150px;
        max-height: 47px;
        margin-bottom: 1.5em;


        @include tablet-breakpoint {
            margin: 0;
        }


    }


    &__button2 {
        background-color: $instock-indigo;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        border-radius: 2em;
        border: none;
        min-width: 47px;
        max-height: 47px;
        width: 100%;
        min-width: 200px;


        @include tablet-breakpoint {
            width: 40%;
        }

        &:hover {
            background-color: $graphite;
            border-color: $graphite;
            transition: 0.3s;
            cursor: pointer;
        }

    }

    &__btn-text {
        color: $white;
        font-size: 1.25rem;
        padding: 1rem;

        @include tablet-breakpoint {
            font-size: 1rem;
        }
    }


    &__icon {
        color: $white;
        @include mobile-subheader;
        position: absolute;
        right: 1em;
        bottom: 5em;

        @include tablet-breakpoint {
            bottom: 0.5em;
            right: 1em;

        }
    }

}