@use '../../styles/partials/mixins.scss'as *;
@use '../../styles/partials/typography.scss'as *;
@use '../../styles/partials/variables.scss'as *;

.searchField {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    border: none;
    position: relative;
    max-height: 47px;
    border: none;


    &__field {
        color: $white;
        @include mobile-subheader;
        padding: 0.51em 1em;
        border-radius: 1.7em;
        border: solid 1px $cloud;
        min-width: 300px;
    }

    &__icon {
        color: $white;
        @include mobile-subheader;
        position: absolute;
        right: 1em;
    }

    // ::placeholder {
    //     color: red;
    // }
}